.nav-menu {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: black;
    height: 100px;
}

.nav-menu .nav-block {
    margin: 25px 100px;
}

.nav-menu div a {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: orangered;
}

.nav-menu .nav-block .nav-item :hover {
    color: white;
}

.nav-item {
    color: red;
    font-size: 20px;
}

.hide {
    display: none;
}

.clock.show {
    background-color: black;
    height: 180px;
    color: orangered;
    width: 1000px;
    margin-left: 400px;
    border-radius: 15px;
}

.clock.show div {
    margin-top: 300px;

    padding-top: 55px;
    font-size: 30px;
}

.nav-menu div a.active {
    color: white;
    background-color: #585858;
    border-radius: 5px;
}
